# Configurações do Ambiente: DEV
project_name       = "tem-na-festa-dev"
aws_region         = "us-east-1"
key_pair_name      = "tem-na-festa-key"

# Rede e Segurança
vpc_cidr           = "10.0.0.0/24"
# Substitua pelo seu IP público seguido de /32 (como estava na raiz)
bastion_ssh_cidr   = "SEU_IP_PUBLICO/32"

# Computação (EC2)
instance_type_frontend = "t3.micro"
instance_type_backend  = "t3.micro"
instance_type_bastion  = "t3.micro"
backend_port           = 8080

# Repositórios (Branches)
frontend_repository_branch = "feat/aws-deploy"
backend_repository_branch  = "refactor/clean-dev"
database_repository_branch = "feat/aws-deploy"

backend_repository_url  = "https://github.com/pedrorico79/TEM-NA-FESTA-backend.git"
frontend_repository_url = "https://github.com/pedrorico79/TEM-NA-FESTA-frontend.git"
database_repository_url = "https://github.com/pedrorico79/TEM-NA-FESTA-database.git"

# Banco de Dados e Segredos
db_instance_class  = "db.t3.micro"
db_name            = "temnafesta"
db_master_username = "admin"
db_master_password = "SUBSTITUA_POR_UMA_SENHA_FORTE"
jwt_secret         = "SUBSTITUA_POR_UMA_CHAVE_JWT_COM_PELO_MENOS_32_CARACTERES"

# Outros Serviços
enable_datalake    = true
